@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.navigation-container {
    float: left;
    width: 17%;
    height: 130vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.profile {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 30px;
    background-color: #0A5F59;
}
figure {
    height: 15vh;
}
figcaption {
    color: #fff;
    margin: 0;
    font-size: 0.7rem;
}
figcaption:nth-child(3) {
    columns: #EAEAEA;
    opacity: 0.3;
}
.navbar {
    width: 100%;
    height: 110vh;
    background-color: #252B42;
    position: relative;
    /* border-bottom-right-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}
.navbar ul {
    height: 30vh;
    padding: 2%;
    margin: 5% 0 0 30%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar ul li {
    color: #fff;
    margin: 10% 0;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
}
.calendar {
    position: absolute;
    top: 60%;
    left: 8%;
    zoom: 130%;
    width: 80%;
    height: 23vh;
}

/* for each nav */
.dashboard-link,
.patients,
.medics,
.chats,
.payment,
.settings
 {
    position: relative;
}
.dashboard-nav-link::before {
    content: url(/src/assets/icons/nav-1.svg);
    position: absolute;
    left: 17%;
    zoom: 80%;
    top: 6%;
}
.patients::before {
    content: url(/src/assets/icons/nav-2.svg);
    position: absolute;
    zoom: 80%;
    top: 8%;
    left: -23%;
}
.medics::before {
    content: url(/src/assets/icons/nav-3.svg);
    position: absolute;
    top: 8%;
    left: -23%;
}
.chats::before {
    content: url(/src/assets/icons/nav-4.svg);
    position: absolute;
    top: 8%;
    left: -23%;
}
.payment::before {
    content: url(/src/assets/icons/nav-5.svg);
    position: absolute;
    top: 8%;
    left: -23%;
}
.settings::before {
    content: url(/src/assets/icons/nav-6.svg);
    position: absolute;
    top: 8%;
    left: -23%;
}


/* ---      body component (hero)  */

.dashboardBody-container {
    /* background-color: #DFEBE9; */
}
.dashboardBody-container {
    margin-left: 20%;
    margin-top: 0;
    float: right;
    width: 100%;
    height: 130vh;
    background-color: #DFEBE9;
}
.box-container {
    margin-left: 20%;
    margin-top: 10px;
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.box {
    width: 19%;
    height: 13vh;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #0A5F59;
    box-shadow: 4px 4px 10px #1E617A;
}
.box:nth-child(even) {
    background-color: #FDCF6F;
}
.box p {
    color: #fff;
    font-size: 0.6rem;
    font-family: 'Poppins';
    position: relative;
}
.box:nth-child(1) p:nth-child(1)::after {
    content: url(/src/assets/icons/box1.svg);
    position: absolute;
    zoom: 80%;
    right: -60%;
    top: -40%;
}
.box:nth-child(2) p:nth-child(2)::after {
    content: url(/src/assets/icons/box2.svg);
    position: absolute;
    zoom: 90%;
    left: 950%;
    bottom: 70%;
}
.third {
    position: relative;
}
.third p:nth-child(1)::after {
    content: url(/src/assets/icons/box3.svg);
    position: absolute;
    zoom: 85%;
    top: -70%;
    right: -60%
}
.fourth {
    position: relative;
}
.fourth p:nth-child(1)::after {
    content: url(/src/assets/icons/box4.svg);
    position: absolute;
    zoom: 85%;
    top: -70%;
    right: -60%
}



/*  */
.middle-section {
    display: flex;   
    justify-content: space-between;
    margin-left: 20%;
    margin-top: 2%;
    padding: 1% 3%;
}
.middle1,
.middle2 {
    width: 40%;
    height: 40vh;
    background-color: #fff;
    border-radius: 12px;
}
.middle1 img {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.middle2 {
    display: flex;
    flex-direction: column;
}

.middle1 .p,
.middle2 .p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    padding-top: 6%;
}

.middle2 .p {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.middle-section p {
    font-size: 0.8rem;
    color: #0A5F59;
    font-family: 'Poppins';
    cursor: pointer;
}
.middle2 .content {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
    margin-top: 3%;
}
.middle2 .content img:nth-child(1) {
    width: 65%;
}
.middle2 .content img:nth-child(2) {
    width: 11%;
}

.bottom-section {
    display: flex;
    margin-left: 15%;
}