/* ---utility classes */
:root {
  --primary-color: #12542B;
  --button-color: #ABEDC4;
  --background-color: #EEFBF3;
  --background-color2: #E6EFEA;
  --neutral-color: #283E32;
}
.--display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  cursor: pointer;
  padding: 4% 15%;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: transparent;
}
h1 {
  color: var(--primary-color);
  font-family: 'thicccboi-medium', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
  font-family: 'thicccboi-regular', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ---              navbar component */
.navbar-container {
  width: 100%;
  padding: 2% 5%;
}
/* width control */
.logo-container {
  width: 40%;
}
.logo-container img {
  width: 30%;
}
.nav-container {
  width: 45%;
  font-size: 0.8rem;
  list-style-type: none;
  flex-direction: row;
  color: var(--primary-color);
}
.button-container {
  width: 20%;
}
.button-container button:nth-child(1) {
  font-family: 'Thicccboi-SemiBold';
  border: 1px solid var(--primary-color);
}
.button-container button:nth-child(2) {
  border: none;
  color: var(--primary-color);
  font-family: 'Thicccboi-SemiBold';
  background-color: var(--button-color);
}




/* ---                 hero component */
.hero-container {
  height: 150vh;
  background-color: var(--background-color);
  padding-top: 7%;
}
.hero-text {
  padding: 0 30%;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}
.hero-text h1 {
  font-size: 3rem;
  font-size: 64px;
  color: var(--primary-color);
}
.hero-text p {
  padding: 0 5%;
  color: var(--primary-color);
}
.hero-text button {
  border: none;
  font-weight: 700;
  background-color: var(--button-color);
  color: var(--primary-color);
}
.hero-text button:hover {
  transition: 0.2s ease;
  border: 1px solid var(--button-color);
  background-color: transparent;
}

.image-container {
  background-color: inherit;
}
.dashboard {
  width: 50%;
  border-radius: 23px;
  position: absolute;
  top: 75%;
  left: 25%;
  box-shadow: 0px 12px 27px rgba(0, 0, 0, 0.1), -35px 35px 49px rgba(0, 0, 0, 0.09), 78px 78px 66px rgba(0, 0, 0, 0.05);
}
.chat-log:hover {
  z-index: 1000;
  opacity: 1;
  transform: translateX(0%);
}
.chat-log {
  width: 22%;
  border-radius: 20px;
  position: absolute;
  top: 97%;
  left: 60%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 12px 27px rgba(0, 0, 0, 0.1), -35px 35px 49px rgba(0, 0, 0, 0.09), 78px 78px 66px rgba(0, 0, 0, 0.05);
}
@keyframes swipe {
  0%,
  100% {
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  50% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }
}

/* ---                 body1 component */
.body1-container {
  padding: 13% 5% 5% 10%;
}
.body-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.left {
  width: 50%;
  padding-right: 10%;
}
.left h1 {
  font-size: 2.4rem;
  padding: 0 22% 2% 0;
}
.left h3 {
  color: var(--neutral-color);
  font-family: 'thicccboi-regular';
  margin: 4% 0;
}
.left h3:nth-child(1) {
  margin-left: 7%;
  position: relative;
}
.left h3:nth-child(1)::before {
  content: url(/src/assets/icons/star.svg);
  position: absolute;
  top: -20%;
  left: -8%;
  zoom: 70%;
}

.right {
  width: 50%;
}
.right img:nth-child(1) {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 45%;
}
.right img:nth-child(2) {
  width: 30%;
  position: absolute;
  top: 0;
  left: 60%;
  cursor: pointer;
  box-shadow: 0px 12px 27px rgba(0, 0, 0, 0.1), -35px 35px 49px rgba(0, 0, 0, 0.09), 78px 78px 66px rgba(0, 0, 0, 0.05);
}
.body1-container button {
  padding: 0;
  padding: 2% 7%;
  margin-top: 15%;
  margin-left: 40%;
  border: none;
  font-weight: 700;
  background-color: var(--button-color);
  color: var(--primary-color);
}
.body1-container button:hover {
  transition: 0.2s ease;
  border: 1px solid var(--button-color);
  background-color: transparent;
}

/* ---                    body2 component */



.body2-container {
  background-color: var(--background-color2);
}
.body2 {
  width: 50%;
}
.body2 img {
  width: 60%;
}
.new-left h3:nth-child(4),
.new-left h3:nth-child(5) {
  margin: 6% 0;
  padding-bottom: 2%;
  border-bottom: 1px solid #000;
}
.float {
  -webkit-animation: float 2.5s linear infinite;
  animation: float 2.5s linear infinite;
}

@-webkit-keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }
}

@keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }
}

/* ---                    body2 component */

.body3-left h1 {
  padding-right: 0;
}
.body3-left h3:nth-child(4),
.body3-left h3:nth-child(5) {
  margin: 6% 0;
  padding-bottom: 2%;
  border-bottom: 1px solid #000;
}
.body3 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.body3 img {
  width: 60%;
}
.bottom-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30%;
  margin-top: 5%;
}
.bottom-image img {
  width: 70%;
}
figure {
  height: 21vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
figcaption {
  font-family: 'Thicccboi-SemiBold';
}

.body3-container button {
  margin-top: 5%;
  color: #000;
}


/* ---              body4 component */

.body4-container {
  padding: 10%;
}
.card-container {
  width: 100%;
  height: 40vh;
  padding: 4%;
  display: flex;
  position: relative;
  border-radius: 20px;
  background-color: #DDF8E8;
}
.text-container {
  width: 60%;
  height: 20vh;
  align-items: unset;
  flex-direction: column;
}
.ellipse {
  position: absolute;
  top: 0;
  left: 34%;
  zoom: 70%;
}
.text-container h3 {
  margin-top: 5%;
}
.text-container h1 {
  font-size: 2rem;
  color: #18251E;
  padding-right: 20%;
}
.fields {
  margin-top: 2%;
}
.fields input {
  padding: 9%;
  width: 170%;
  border: none;
  border-radius: 15px;
  background-color: #AFE0E9;
}
.fields input::placeholder {
  color: #000;
  font-family: 'thicccboi-SemiBold';
}
.fields button {
  border: none;
  color: #000;
  margin-top: 20%;
  padding: 7% 14%;
  border-radius: 12px;
  background-color: #68C3D4;
  font-family: 'thicccboi-SemiBold';
}



/* ---              footer component */
footer {
  padding: 2% 10%;
}
.footer-details {
  display: flex;
  justify-content: space-between;
}
.left-details {
  color: #18251E;
  font-family: 'Thicccboi-regular';
}
.left-details img {
  margin-bottom: 10%;
}
.right-details {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.right-details ul {
  list-style-type: none;
}
.right-details ul h3 {
  color: #0C371C;
  font-family: 'Thicccboi-SemiBold';
  margin-bottom: 40px;
}
.right-details ul li {
  margin: 25px 0;
  font-size: 0.8rem;
  color: var(--neutral-color);
  font-family: 'Thicccboi-medium';
}

.bottom-footer {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-top: 5%;
  align-items: center;
  justify-content: space-between;
}
.bottom-footer p {
  font-size: 0.8rem;
  font-family: 'Thicccboi-regular';
}
.bottom-footer div:nth-child(3) {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.bottom-footer img {
  width: 15%;
}