/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
}

/* custom fonts */
@font-face {
  font-family: 'Thicccboi-Bold';
  src: url('/public/assets/Webfont/THICCCBOI-Black.woff2') format('truetype');
}
@font-face {
  font-family: 'Thicccboi-SemiBold';
  src: url('/public/assets/Webfont/THICCCBOI-SemiBold.woff2') format('truetype');
}
@font-face {
  font-family: 'Thicccboi-Light';
  src: url('/public/assets/Webfont/THICCCBOI-Light.woff2') format('truetype');
}
@font-face {
  font-family: 'Thicccboi-Medium';
  src: url('/public/assets/Webfont/THICCCBOI-Medium.woff2') format('truetype');
}
@font-face {
  font-family: 'Thicccboi-Regular';
  src: url('/public/assets/Webfont/THICCCBOI-Regular.woff2') format('truetype');
}

/* custom fonts as utility classes */
.thicccboi-bold {
  font-family: 'Thicccboi-Bold';
}
.thicccboi-semi-bold {
  font-family: 'Thicccboi-SemiBold';
}
.thicccboi-light {
  font-family: 'Thicccboi-Light';
}
.thicccboi-medium {
  font-family: 'Thicccboi-Medium';
}
.thicccboi-regular {
  font-family: 'Thicccboi-Regular';
}

/* ---utility classes */
:root {
  --primary-color: #12542B;
  --button-color: #ABEDC4;
  --background-color: #EEFBF3;
  --background-color2: #E6EFEA;
  --neutral-color: #283E32;
}